* {
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 10px;
}

.headerDiv{
    text-align: center;
}

.listDiv{
    text-align: center;
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    float: left;
    margin-left: 47%;
}

.btnDiv{
    margin-top: 200px;
    text-align: center;
}

.radio{
    padding: 10px;
    display: inline;
}
