* {
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 10px;
}

.taskListHeader{
    text-align: center;
}

.taskList{
    text-align: center;
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    float: left;
    margin-left: 47%;
}

.functionalBtns{
    margin-top: 200px;
    text-align: center;
}

.groupRadioBtn{
    padding: 10px;
    display: inline;
}

.task_visible{
    display: block;
}

.task_invisible{
    display: none;
}

.taskCheckBox_visible{
    visibility: visible;
}

.taskCheckBox_invisible{
    visibility: hidden;
}
