* {
    box-sizing: border-box;
}

.task-list-header {
    text-align: center;
    font-family: 'MV Boli';
    background-color: #36c5f4;
    color: #f8ffff;
    padding-bottom: 10px;
}

.input-new-task {
    font-family: 'MV Boli';
    border: hidden;
    font-size: 15px;
    padding: 3px;
    margin-bottom: 10px;
}

.add-new-task-btn {
    border: hidden;
    cursor: pointer;
    font-family: 'MV Boli';
    width: 60px;
    font-size: 15px;
    padding: 3px;
    color: #404040;
    background-color: #f8ffff;
}

.add-new-task-btn:hover {
    background-color: #527df4;
    color: #f8ffff;
    -webkit-box-shadow: 0 0 5px rgb(42, 42, 225);
}

.task-list-div {
    background-color: #36c5f4;
    text-align: center;
}

.task-list {
    font-family: 'MV Boli';
    margin: 0;
    text-align: center;
    font-size: 16px;
    position: relative;
    color: #f8ffff;
    background-color: #36c5f4;
    width: 50%;
    left: 25%;
    border-color: #527df4;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #527df4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f8ffff;
}

.check-uncheck-btn,
.del-checked-btn {
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #edf4f4;
    font-family: 'MV Boli';
    font-size: 15px;
    color: #404040;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: hidden;
}

.check-uncheck-btn:hover,
.del-checked-btn:hover {
    background-color: #527df4;
    color: #e8e3f4;
    -webkit-box-shadow: 0 0 5px rgb(42, 42, 225);
}

.active-tasks {
    padding-right: 20px;
    color: white;
    font-family: 'MV Boli';
    text-decoration: none;
    display: inline-block;
}

.footer {
    text-align: center;
    background-color: #36c5f4;
}

.group-radio-btn {
    padding: 10px;
    cursor: pointer;
    display: inline;

}

.task-close-btn {
    margin-left: 20px;
    margin-bottom: 7px;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'MV Boli';
    font-size: 14px;
    width: 25px;
    border-radius: 20%;
    border-style: solid;
    border-color: #f4f4f4;
    background-color: #36c5f4;
    color: #f4f4f4;
}

.task-close-btn:hover {
    border-color: #36c5f4;
    background-color: #527df4;
    color: #f8ffff;
    -webkit-box-shadow: inset 0 0 5px rgb(42, 42, 225);
}

.radio-btn-label {
    border-style: solid;
    border-color: #527df4;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

.radio-btn-label:hover{
    background-color: #527df4;
    -webkit-box-shadow: 0 0 5px rgb(42, 42, 225);
}

.radio-btn-label-selected {
    border-style: solid;
    border-color: #527df4;
    border-radius: 10px;
    border-width: 2px;
    background-color: #527df4;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgb(42, 42, 225);
}

.task-visible {
    display: block;
}

.task-invisible {
    display: none;
}

.task-checkbox-visible {
    cursor: pointer;
    margin-right: 20px;
    visibility: visible;;
}

.task-checkbox-invisible {
    visibility: hidden;
}
